*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-image: url("./images/bgsky.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 100%;
  background-color: lightblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1.5px;
}

.title > h3 {
  align-items: center;
  justify-content: center;
}
.container {
  background-color: skyblue;
}
.caroussel {
  padding: 50px;
}

.rating-description {
  display: flex;
  justify-content: space-between;
}

/*  stars and ratings */

.stars {
  display: flex;
}

.stars.disabled {
  pointer-events: none;
}
.stars a {
  opacity: 50%;
  cursor: pointer;
  padding: 3px;
}

.stars:hover a {
  opacity: 100%;
}

.stars a:hover {
  opacity: 100%;
}

.stars a:hover ~ a {
  opacity: 50%;
}
.stars a.active {
  opacity: 100%;
}
